// Colors
$green-light: #4abdbb;
$green: #2bb3b1;
$yellow: #bfdf32;
$gray-light: #e6eff6;
$gray-blue: hsl(218, 22%, 67%);

// Typography
$font-size: 16px;
$font-family: 'Karla', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
