@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.info {
  background-color: white;
  border-radius: 5px 5px 0 0;
  padding: 1.5rem;
  height: 250px;
}

.info__heading {
  color: $green;
  font-size: 1.28rem;
}

.info__subheading {
  color: $yellow;
  font-size: .96rem;
  margin: 1rem 0;
}

.info__body {
  color: $gray-blue;
  font-size: .88rem;
  line-height: 1.5rem;
}

@media (min-width: 900px) {
  .info {
    padding: 3rem;
    height: auto;
  }

  .info__heading {
    color: $green;
    font-size: 1.85rem;
    margin-bottom: 1.5rem;
  }

  .info__subheading {
    font-size: 1.35rem;
  }

  .info__body {
    font-size: 1.13rem;
    line-height: 2.2rem;
  }
}
