@import "src/assets/scss/variables";

.flexbox {
  display: flex;
  flex-direction: column;
}

.flex-item {
  margin: auto;
}

.main {
  margin: 4rem 1.75rem;
}

.main__info {
  width: 100%;
}

.main__signup {
  width: 100%;
}

.main__about {
  width: 100%;
}
