@import "src/assets/scss/variables";

.main {
  display: grid;
  grid-template-areas: 'info'
                       'signup'
                       'about';
  margin: 4rem 1.75rem;
  max-width: 700px;
  height: fit-content;
}

.main__info {
  grid-area: info;
  align-self: end;
}

.main__signup {
  grid-area: signup;
}

.main__about {
  grid-area: about;
}

@media (min-width: 900px) {
  .main {
    grid-template-areas: 'info info'
                         'signup about';
    margin: auto;
    height: 100vh;
  }
}
