@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.signup {
  color: white;
  background-color: $green;
  padding: 1.5rem;
  height: 250px;
}

.signup__heading {
  color: white;
  font-size: 1.15rem;
}

.signup__price {
  color: lighten($green, 40%);
  margin: 1rem 0 .5rem;
}

.signup__money {
  color: white;
  font-size: 2rem;
  font-weight: $font-weight-bold;
  margin-right: .5rem;
}

.signup__body {
  font-size: 1rem;
  margin: .5rem 0 2rem;
}

.signup__button {
  color: white;
  font-size: 1rem;
  font-family: $font-family;
  font-weight: $font-weight-bold;
  background-color: $yellow;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
}

@media (min-width: 900px) {
  .signup {
    border-radius: 0 0 0 5px;
    padding: 3rem;
    height: 310px;
  }

  .signup__heading {
    font-size: 1.24rem;
  }

  .signup__price {
    font-size: 1.1rem;
  }

  .signup__money {
    font-size: 2.5rem;
  }

  .signup__body {
    font-size: 1.1rem;
  }

  .signup__button {
    font-size: 1.2rem;
  }
}
