/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import "assets/scss/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  background-color: $gray-light;
  padding: 4rem 2rem;
}
